$dark-green: #2b4d59;
$green : #39998e;
$yellow : #ffdc7c;
$orange : #ffaa67;
$dark-orange: #da674a;
$white: #f5f2f2;

$brown: #b7673c;
$kaki: #3a5154;
$grey: #b9b0b2;
$bluegrey: #929aa2;

$dark-grey: #1f1f1f;
$fb: #3c5a99;
$light-grey: #d6d6d6;
