.content-container {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $light-grey;
}

.wait {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $white;
    color: $dark-grey;
    font-family: "Prompt-Light";
}

.fourelements {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    //justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: white;
    color: $dark-grey;

    h1 {
        font-family: "Prompt";
        padding : 20px;
        background-color: $dark-orange;
        color: white;
        width : 100%;
    }

    .description {
        font-family: 'CSPraJad';
        margin : 10px;
        padding-bottom: 15px;
    }

}

.see-info {
    align-self: center;
    padding: 10px 40px;
    background-color: $orange;
    border-radius: 30em;
    color: $dark-grey;
    font-family: "Prompt";
    border-color: $orange;
    border-width: 2px;
    letter-spacing: 2px;
}

.player-info {
    margin: 10px;
    font-family: 'CSPraJad';
    text-align: center;
    justify-content: center;
    span {
        color: $dark-orange;
        font-family: 'CSPraJad-Bold';
    }
}

.input-code {
    margin : 20px;
    padding: 30px;
    width: 100%;
    background-color: $white;
    .code-here {
        font-family: 'Prompt';
        font-size: 20px;
    }
}

.input-here {
    font-size: 16px;
    padding: 10px;
    width: 200px;
    border: 2px solid $dark-orange;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(114, 102, 92, 0.2);
    color: white;
    outline: none;
    font-family: "Prompt-Light";
}

.submit-code {
    align-self: center;
    margin-left: 20px;
    padding: 10px 10px;
    background-color: $yellow;
    border-radius: 10px;
    color: $dark-grey;
    font-family: "Prompt";
    border-color: $yellow;
    border-width: 2px;
    letter-spacing: 2px;
}